html
head
  title hi owo
body
  h1 hi
  br
  p pls click your fav song
  form.nameForm(action='/vote' method='post')
    .nameForm
      label(for='name') name pls uwu: 
      input#name(type='text' name='name')
    input(type='submit' value='submit')