html
head
  title hi
body
  h1 hi
  br
  p hi owo pls enter name and then click fav song :D
  form.nameForm(action='/vote' method='post')
    .nameForm
      label(for='name') name pls uwu: 
      input#name(type='text' name='name')
    input(type='submit' value='submit')