html
head
  title Vote for your favorite item
body
  h1 Vote for your favorite item
  each cover in covers
    img(src=cover)
  form(action='/submitVote' method='post')
    each title in titles
      input(type='radio' name='selectedItem' value=title)
      br
    input(type='submit' value='Vote')